body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #D8C4BC;
}

body {
    margin-bottom: 60px; /* Add margin to the bottom of the body equal to the bar's height so content doesn't get hidden behind it */
}

/* The element is hidden by default */
.hidden-element {
  display: none !important;
}

.hidden-div {
  display: none !important;
}

.hidden {
  display: none !important;
}


/* This class will show the element when added to it */
.visible-element {
  display: block;
}

.full-page-element {
  height: 100vh; /* Fills the entire visible browser window height */
}
.rw-help-page {
    background-color: black;
    height: 100vh;
}

.rw-help-line {
    border: 4px solid  white;
}

.rw-page-header {
    padding-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.rw-icon-list__text {
    width: clamp(250px, 50%, 600px);
    padding-left: clamp(1rem, 2vw, 2rem);
    padding-top: 0.2rem;
}

.rw-icon-list__text h2{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.stem {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: white
}

.rw-icon-list__text p {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}



ul.rw-icon-list__row-items{
    list-style-type: none; /* Removes default bullets */
    display: flex;         /* Aligns items in a single line */
}



ul.rw-icon-row-items {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    unicode-bidi: isolate;
}

.rw-icon-list .rw-icon-list__item {
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

.rw-icon-list__item {
    padding-left: clamp(1rem, 2vw, 2rem);
}

.rw-icon-list__icon {
    width: 42px;
    height: 42px;
}

.rw-icon-list__icon img {
    width: 42px;
    height: 42px;
    fill: none;
}

.rw-choice-buttons {
    justify-content: center;
    padding: 30px 0;
}



button.choice-btn {
    /* Remove default button background color and border */
    background-color: transparent; /* Makes the background fully transparent */
    background: none; /* For better browser compatibility */
    border: none;
    cursor: pointer; /* Optional: Changes cursor to a hand icon on hover */
    border-radius: 50%;
    width: 52px;
    height: 52px;
    position: relative; 
}

/*
.habit-button {
    background-color: #F5F1E9 !important;
    border: 2px solid black !important;
}
*/

button.task-btn {
    background-color: #D8C4BC;
    cursor: pointer; /* Optional: Changes cursor to a hand icon on hover */
    border-radius: 50%;
    width: 52px;
    height:50px;
    position: relative; 
}

.rw-habit-chosen {
    outline: 6px solid #B33434;; 
}

.gear-icon {
    padding-bottom: 80px;
}

.close-icon {
    padding-bottom: 60px;
}

button.cross-btn,
button.gear-btn {
    background-color: transparent; /* Makes background fully transparent */
    border: transparent;
    color: transparent; /* Changes the text color */
    cursor: pointer; /* Optional: Changes cursor to a hand icon on hover */
    float: right;
    padding-right: 1rem;
    margin-right: 16px;
    position: relative; 
    width: 60px;
    height:60px;
}

#helpWhite_svg,
#help_svg {
    width: 50px;
    position: absolute;
    left: -2px;
    top: -2px;
}

#lollipopWhite_svg,
#lollipop_svg {
    width: 42px;
    position: absolute;
    left: -2px;
    top: -1px;
}

#carrotWhite_svg,
#carrot_svg {
    width: 47px;
    position: absolute;
    left: 0;
    top: 0;
}

#info_svg {
    width: 17px;
    position: absolute;
    left: 15px;
    top: 3px;
}

#references_svg {
    width: 34px;
    height: 34px;
    position: absolute;
    left: 7px;
    top: 7px;
}

#game_lightbulb {
    position: absolute;
    left: 0px;
    top: -4px;
}
#game_reading {
    width: 35px;
    position: absolute;
    left: 5px;
    top: 10px;
}

#break_svg {
    width: 43px;
    position: absolute;
    left: 2px;
    top: -2px;
}

#trip {
    width: 42px;
    position: absolute;
    top: -4px;
    left: 1px;
}

#fysen_svg, #game_svg {
    width: 49px;
    position: absolute;
    left: -2px;
    top: -4px;
}

ul {
    list-style-type: none; /* Removes the markers */
    margin: 0;            /* Removes default margin */
    padding: 0;
}

.frame-container {
    border: 2px solid black;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #685650;
}


.frame-container-flower {
    background-color: rgb(247, 242, 242);
    border-radius: 8px;
}

.habit-choice-container {
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed; /* Fixes the position relative to the browser window */
    bottom: 0;      /* Aligns the bar to the bottom edge */
    left: 0;        /* Stretches the bar from the left edge */
    right: 0;       /* Stretches the bar to the right edge */
    width: 100%;    /* Ensures the bar spans the full width */
    border: transparent;
    background-color:#F5F1E9;
    border-top-style: solid; /* Required for the border to be visible */
    border-top-color: black; /* Color name */
}

.rw-group, .rw-article, .rw-icon-list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.rw-goodHabits-page,
.rw-flower-page,
.rw-front-page {
    margin-left: auto;
    margin-right: auto;
}

.task-container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.4;
}

.rw-icon-list__button {
    display: flex;
}



.rw-icon-list__item {
    margin-bottom: 42px;
    display: flex;
}

.rw-icon-list__button {
    display: flex;
}

.rw-icon-list .rw-icon-list__item {
    flex-direction: row;
    gap: 32px;
    background-color: #F5F1E9;
    border: 2px solid black;    /* Optional border */
    border-radius: 15px; 
}

/* help page */


ul.rw-icon-list__row-buttons {
    padding: 0;            /* Removes default padding */
    margin: 0; 
    list-style-type: none; /* Removes default bullets */
    display: flex;         /* Aligns items in a single line */
    gap: 21px;
    justify-content: space-evenly;

}

.rw-button-list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}


.rw-icon-list-help {
    padding-left: 1rem;
    padding-right: 1rem;
}

.button-container {
    padding: 16px;
    justify-content: space-around;
}

.frame-container-help {
    background-color: #F5F1E9;
    border: 2px solid black;
    border-radius: 8px;
    padding: 16px;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.frame-container-bloom {
    background-color: #F5F1E9;
    border: 2px solid black;
    border-radius: 8px;
    padding: 16px;
}

.frame-container-habits {
    background-color: #F5F1E9;
    border: 2px solid black;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

#rw-badHabits-text .rw-icon-list__item,
#rw-goodHabits-text .rw-icon-list__item {   
        margin-bottom: 15px !important;
}

.rw-help-text {
    padding-top: 2rem;
    padding-left: 17px;
    padding-right: 17px;
    display: flex; 
    flex-direction: column;
    gap: 1rem;
}

.flex-container {
     background-color: #F5F1E9;
}

.flex-container {
    display: flex;
    justify-content: flex-start; /* Aligns items at the start initially */
    height: 100px;
    background-color: lightblue;
}

.flex-item {
    background-color: white;
    margin: 5px;
    padding: 10px;
    transition: transform 0.5s ease; /* Smooth transition for the transform property */
    cursor: pointer;
}

.moved {
    /* Moves the element 100px to the right */
    transform: translateX(100px); 
    /* To move down: transform: translateY(100px); */
}
.rw-help-selection {
    display: flex; 
    flex-direction: column;
}


.rw-help-triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent;
    border-bottom: 10px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}
/* game switches*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}